.testCase {
    background-color: white;
    width: 810px;
    height: 810px;
    margin-left: 10px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 10px 5px rgb(202, 199, 199);
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0.9;
}
.testCase ._Pane {
    padding: 16px;
}
.Scenario__content {
    display: flex;
    align-items: center;
}
.Scenario__number {
    margin-right: 5px;
}
.testCase__content {
    padding-top: 16px;
}
.testCaseOverview {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.testCaseOverview__primary {
    flex: 1 1 auto;
    overflow: hidden;
}
.TestCaseOverview__secondary {
    flex: 1 1 30%;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    padding-left: 16px;
}