* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.dialog-for-task {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 10px 5px rgb(202, 199, 199);
    width: 810px;
    height: 810px;
    opacity: 0.9;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.dialog-heading__basic {
    background-color: white;
    position: sticky;
}
.button__close {
    width: 24px;
    height: 24px;
    padding: 0;
    position: relative;
    top: 5px;
    left: 785px;
}
.icon__close {
    width: 100%;
    height: 100%;
}
.dialog-content {
    overflow: auto;
    max-height: 640px;
}
.aui {
    position: static;
}
.form-body {
    max-height: 731px;
    max-height: 739px;
}
.group__form-body {
    display: flex;
    align-items: center;
}
.group__form-body h3 {
    width: 180px;
    text-align: right;
}
.input__form-body {
    height: 18px;
    margin-left: 20px;
}
.select__form-body {
    height: 24px;
    margin-left: 20px;
}
.content {
    display: flex;
    flex-direction: column;
}
.content h3 {
    width: 180px;
    text-align: right;
}
.content_estimate {
    display: flex;
    align-items: center;
}
.content_estimate input {
    margin-left: 20px;
}
.buttons-container {
    box-sizing: border-box;
    clear: both;
    margin: 1px 0 0 0;
    padding: 4px 0 4px 145px;
    position: relative;
    width: 100%;
} /*это стиль для нижней панели*/