.headerRight {
    display: flex;
    align-items: center;
    padding-top: 21px
}
.headerUser {
    margin: 10px;
}
.user-account {
    display: inline-block;
}
.user-account_name {
    display: flex;
    max-width: 300px;
    width: 250px;
    height: 30px;
    border-bottom: 2px solid maroon;
}
.user-account_name p {
    opacity: 0.2;
}
.user-account_icon {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-top: 5px;
}
.Button_view_button {
    display: flex;
    padding: 6px;
    margin-top: 10px;
    cursor: pointer;
}