.headerRight {
    display: flex;
    align-items: center;
    padding-top: 21px
}
.headerUser {
    margin: 10px;
}
.user-account {
    display: inline-block;
}
.user-account_name {
    display: flex;
    max-width: 300px;
    width: 250px;
    height: 30px;
    border-bottom: 2px solid maroon;
}
.Button_table_toolbar button {
    margin-left: 5px;
}
.user-account_name p {
    opacity: 0.2;
}
.user-account_icon {
    margin-top: 5px;
    margin-bottom: 15px;
}
.Button_table_toolbar {
    display: flex;
}
.Button_view_button {
    padding: 6px;
    cursor: pointer;
}
.Button_add_task {
    padding: 6px;
    cursor: pointer;
}